In [ ]:
# import packages

In [ ]:
# Read the audit dataset into Python

In [ ]:
#Filtering
#Subsetting rows
#Displaying Row numbers 1,2,8,456

In [ ]:
# Subsetting columns
# Display Education and Marital Status

In [ ]:
# Subsetting rows and columns
#  Display 2nd row and 4th column

In [ ]:
# Displaying Row numbers 1,2,8,456 and Column numbers 1,3,6

In [ ]:
# We can simply extract columns from a dataframe
# Displaying first 5 rows of column "Education"

In [ ]:
# Display all rows and columns for male private employed employees

In [ ]:
# Get only the columns Age and Marital status of male private employees

In [ ]:
# Get all the columns except Age and Marital status of male private employees

In [ ]:
# Adding new columns
# Create a new column LogIncome

In [ ]:
# Sorting data
# Sort the data in ascending order of income

In [ ]:
# Sort the data in descending order of income

In [ ]:
# Group by and Summarize Operations
# What is the average income by Gender and Marital Status?

In [ ]:
#What are the minimum, maximum of the average income by Gender and Marita l Status?

In [ ]:
# finds mean of all numeric variables for each category of Gender

In [ ]:
# Contingency Table between Gender and Marital Status - hint: pd.crosstab()